src/main/mule/demo2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="99858667-03a9-46d7-ad7f-ba7a816bc232" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo2Flow" doc:id="3817f6f5-170f-46da-8e38-9d4c8423cfc1" >
		<http:listener doc:name="Listener/munit" doc:id="b9f286e6-da36-486e-b212-94827162835c" config-ref="HTTP_Listener_config" path="/munit"/>
		<ee:transform doc:name="Transform Message" doc:id="91265895-dbbc-43a9-a8f9-6bfbd16afb16" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	sum : payload.a + payload.b,
	subtract: payload.a - payload.b,
	product: payload.a * payload.b,
	Divide: payload.a / payload.b
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
